<div class="jf-width-100" ng-class="{'animated slideInDown':page.s1}">
  <ion-scroll zooming="true" direction="y" class="jf-width-100" ng-style="spageHeight">
    <ul ng-repeat="area in areas">
      <li>{{area.name}}</li>
      <li ng-repeat="citys in area.citys" class="row">
        <div class="col col-25 col-center" ng-repeat="city in citys track by $index">
          <button class="button button-small button-outline button-dark">
            {{city}}
          </button>
        </div>
      </li>
    </ul>
  </ion-scroll>
  <div class="jf-tabs-bottom jf-tabs-bottom-search">
    <div class="jf-tabs-bottom-text">
      {{"BASE.SEARCH.CARNUM"|i18n:100000}}
    </div>
    <div class="jf-width-30 jf-float-right">
      <button class="button button-outline button-positive jf-width-100">
        {{"BASE.SEARCH.WATCH"|i18n}}
      </button>
    </div>
  </div>
</div>
