/**
 * {base} Sheets
 * Created by gaojun on 15/12/2.
 * --------------------------------------------------
 */

.jf-text-center {
  text-align: center;
}

.jf-width-10 {
  width: 10%;
}

.jf-width-20 {
  width: 20%;
}

.jf-width-30 {
  width: 30%;
}

.jf-width-40 {
  width: 40%;
}

.jf-width-50 {
  width: 50%;
}

.jf-width-60 {
  width: 60%;
}

.jf-width-70 {
  width: 70%;
}

.jf-width-80 {
  width: 80%;
}

.jf-width-90 {
  width: 90%;
}

.jf-width-100 {
  width: 100%;
}

.jf-float-left {
  float: left;
}

.jf-float-right {
  float: right;
}
