/**
 * {base} Sheets
 * Created by gaojun on 15/12/2.
 * --------------------------------------------------
 */

.jf-text-left {
  text-align: left;
}

.jf-text-center {
  text-align: center;
}

.jf-text-right {
  text-align: right;
}

.jf-text-line-through {
  text-decoration: line-through;
}

.jf-text-light {
  color: $light;
}

.jf-text-stable {
  color: $stable;
}

.jf-text-positive {
  color: $positive;
}

.jf-text-calm {
  color: $calm;
}

.jf-text-balanced {
  color: $balanced;
}

.jf-text-energized {
  color: $energized;
}

.jf-text-assertive {
  color: $assertive;
}

.jf-text-royal {
  color: $royal;
}

.jf-text-dark {
  color: $dark;
}

.jf-text-red {
  color: red;
}

.jf-text-grey {
  color: grey;
}

.jf-bg-light {
  background: $light;
}

.jf-bg-stable {
  background: $stable;
}

.jf-bg-positive {
  background: $positive;
}

.jf-bg-calm {
  background: $calm;
}

.jf-bg-balanced {
  background: $balanced;
}

.jf-bg-energized {
  background: $energized;
}

.jf-bg-assertive {
  background: $assertive;
}

.jf-bg-royal {
  background: $royal;
}

.jf-bg-dark {
  background: $dark;
}

.jf-bg-red {
  background: red;
}

.jf-bg-grey {
  background: grey;
}

.jf-bg-light-grey {
  background: #CCCCCC;
}

.jf-width-10 {
  width: 10%;
}

.jf-width-20 {
  width: 20%;
}

.jf-width-30 {
  width: 30%;
}

.jf-width-40 {
  width: 40%;
}

.jf-width-50 {
  width: 50%;
}

.jf-width-60 {
  width: 60%;
}

.jf-width-70 {
  width: 70%;
}

.jf-width-80 {
  width: 80%;
}

.jf-width-90 {
  width: 90%;
}

.jf-width-100 {
  width: 100%;
}

.jf-float-left {
  float: left;
}

.jf-float-right {
  float: right;
}

.jf-pos-relative {
  position: relative;
}

.jf-pos-absolute {
  position: absolute;
}

.jf-display-inline {
  display: inline;
}

.jf-padding-top-6 {
  padding-top: 6px;
}


