/**
 * {grid} Sheets
 * Created by gaojun on 15/12/8.
 * --------------------------------------------------
 */

.jf-row-search {
  //position: fixed;
  background: $light;
  border-bottom: 1px solid $bar-light-border;
  padding: 0;
  @extend .jf-row-search-height;
}

.jf-row-search-height {
  height: $jf-row-search-height;
}

.jf-row-search-top {
  top: $jf-row-search-height;
}

.jf-col {

}

.col-1 {
  @include flex(0, 0, 1%);
  max-width: 1%;
}
.col-4 {
  @include flex(0, 0, 4%);
  max-width: 4%;
}
.col-5 {
  @include flex(0, 0, 5%);
  max-width: 5%;
}
.col-30 {
  @include flex(0, 0, 30%);
  max-width: 30%;
}
.jf-col-bottom-red {
  border-bottom: 2px solid red;
}
