/**
 * {slide} Sheets
 * Created by gaojun on 15/12/2.
 * --------------------------------------------------
 */

.jf-home-slide-div {
  width: 100%;
  //height: 140px;
  background: $jf-light-grey;
}

.jf-detail-slide {
  width: 100%;
  height: 200px;
}

.jf-home-slide {
  width: 100%;
  height: auto;
}
