/**
 * {slide} Sheets
 * Created by gaojun on 15/12/2.
 * --------------------------------------------------
 */

.jf-home-slide-div {
  width: 100%;
  height: 220px;
  background: #777777;
}

.jf-home-slide {
  width: 100%;
  height: $jf-slide-home;
}
