/**
 * {tabs} Sheets
 * Created by gaojun on 15/12/8.
 * --------------------------------------------------
 */

.jf-tabs-bottom {
  //position: fixed;
  z-index: $z-index-tabs;
  width: 100%;
  height: $tabs-height;
}

.jf-tabs-bg {
  background: $light;
}

.jf-tabs-bottom-search {
  @extend .jf-tabs-bg;
  bottom: $tabs-height;
  border: 1px solid $bar-light-border;
}

.jf-tabs-bottom-text {
  @extend .jf-float-left;
  @extend .jf-width-70;
  @extend .jf-text-center;
  font-size: $jf-text-size-middle;
  line-height: $tabs-height;
}

.jf-tabs-price-bottom {
  width: 100%;
  height: $tabs-height;
  @include display-flex();
  @include justify-content(center);
}
