/**
 * {varriables} Sheets
 * Created by gaojun on 15/12/2.
 * --------------------------------------------------
 */

// slide
$jf-slide-home: 200px;

// Z-Indexes
// -------------------------------

$jf-z-index-banner: 0 !default;
$jf-z-index-banner-bg: -1 !default;
$jf-z-index-search-banner: 8 !default;


$jf-img-small-font-size:          12px !default;
$jf-img-small-height:             20px !default;
$jf-img-small-padding:            3px !default;

$jf-row-search-height:            30px;
