/**
 * {varriables} Sheets
 * Created by gaojun on 15/12/2.
 * --------------------------------------------------
 */

// color
$jf-light-grey: #CCCCCC;

// slide
$jf-slide-home: 120px;

// Z-Indexes
// -------------------------------

$jf-z-index-banner: 0 !default;
$jf-z-index-banner-bg: -1 !default;
$jf-z-index-search-banner: 8 !default;


$jf-img-small-font-size:          12px !default;
$jf-img-small-height:             20px !default;
$jf-img-small-padding:            3px !default;

$jf-row-search-height:            30px;

$jf-text-size-middle:  20px;
$jf-text-size-title:  20px;
$jf-text-size-small:  13px;
