<!--<ion-view title="Site Default Page">-->
<!--<ion-content padding="'true'" class="has-header">-->
<!--</ion-content>-->
<!--</ion-view>-->
<ion-nav-bar class="bar-stable">
  <ion-nav-back-button>
  </ion-nav-back-button>
  <ion-view title="haha">
    <ion-content padding="'true'" class="has-header">
      <button class="button button-stable button-block " ng-click="logout()">{{'USER.LOGOUT'|i18n}}</button>

      <img src="img/yiliya.png" width="50%" height="auto" style="width: 50%; height: auto;">
    </ion-content>
  </ion-view>
</ion-nav-bar>
