<ion-view class="jf-animate-in-secondary">
  <ion-content has-bouncing="false">
    <div class="jf-banner">
      <img class="jf-banner jf-banner-bg" src="img/yiliya2.jpg">

      <div class="row jf-user-login">
        <div class="jf-user-login-img" style="background-image:url(http://localhost:8100/img/yiliya.png);">

        </div>
        <div class="col col-bottom">
          <!--border-radius:50%-->
          <button ng-click="" class="button button-small button-outline button-light jf-user-login-button">
            {{'BASE.CLICK.LOGIN'|i18n}}
          </button>
        </div>
      </div>

      <button ng-click="" class="button buttons button-clear jf-float-right">
        <i class="icon ion-ios-gear-outline"></i>
      </button>
    </div>

    <div class="jf-bg-stable">
      <div class="row">
        <div class="col-3"></div>
        <div class="col-30 jf-text-center">
          <span style="font-size: 13px;">0</span><br/>
          <span style="font-size: 13px;color: #CCCCCC;">收藏车辆</span>
        </div>
        <div class="col-2">
          <hr style="height:25px;width:1px;color: #ddd;"/>
        </div>
        <div class="col-30 jf-text-center">
          <span style="font-size: 13px;">0</span><br/>
          <span style="font-size: 13px;color: #CCCCCC;">订阅车源</span>
        </div>
        <div class="col-2">
          <hr style="height:25px;width:1px;color: #ddd;"/>
        </div>
        <div class="col-30 jf-text-center">
          <span style="font-size: 13px;">123</span><br/>
          <span style="font-size: 13px;color: #CCCCCC;">浏览记录</span>
        </div>
        <div class="col-3"></div>
      </div>

      <div class="row jf-bg-light" style="border-top:1px solid #CCCCCC;">
        <div class="col-3"></div>
        <div class="col-94" style="height:30px;padding-top: 5px;">
          <div class="jf-float-left">
            <span class="jf-text-assertive"><i class="icon ion-android-list"></i></span>我的优惠券
          </div>
          <div class="jf-float-right">
            0张可用<i class="icon ion-ios-arrow-right"></i>
          </div>
        </div>
        <div class="col-3"></div>
      </div>

      <div class="row jf-user-devide"></div>

      <div>
        <ul class="list">
          <li class="row jf-bg-light" style="height:35px;padding-top: 5px;">
            <div class="col-3"></div>
            <div class="col-94">为您推荐</div>
            <div class="col-3"></div>
          </li>

          <li class="item jf-item-small">
            <img src="/img/yiliya2.jpg" width="20%" height="auto">

            <div class="jf-item-small-content">
              <div  class="jf-item-subdiv">
                <h3>奥迪A8&nbsp;&nbsp;2013款 A8L 50 TFSI quattro尊贵型</h3>
              </div>

              <div class="jf-item-subdiv">
                <h2 class="jf-item-left jf-text-red">
                  123万&nbsp;&nbsp;&nbsp;&nbsp;
                </h2>

                <div style="padding-top: 5px;">
                  <h4 class="jf-text-grey">2013-04-08 11公里</h4>
                </div>
              </div>

              <div class="jf-item-subdiv">
                <div class="jf-item-left">
                  <button class="button jf-img-small button-outline button-positive">超值</button>&nbsp;
                  <button class="button jf-img-small button-outline button-energized">车主急售</button>&nbsp;
                  <button class="button jf-img-small button-outline button-balanced">准新车</button>&nbsp;
                </div>
              </div>
            </div>
          </li>

          <li class="item jf-item-small">
            <img src="/img/yiliya2.jpg" width="20%" height="auto">

            <div class="jf-item-small-content">
              <div  class="jf-item-subdiv">
                <h3>奥迪A8&nbsp;&nbsp;2013款 A8L 50 TFSI quattro尊贵型</h3>
              </div>

              <div class="jf-item-subdiv">
                <h2 class="jf-item-left jf-text-red">
                  123万&nbsp;&nbsp;&nbsp;&nbsp;
                </h2>

                <div style="padding-top: 5px;">
                  <h4 class="jf-text-grey">2013-04-08 11公里</h4>
                </div>
              </div>

              <div class="jf-item-subdiv">
                <div class="jf-item-left">
                  <button class="button jf-img-small button-outline button-positive">超值</button>&nbsp;
                  <button class="button jf-img-small button-outline button-energized">车主急售</button>&nbsp;
                  <button class="button jf-img-small button-outline button-balanced">准新车</button>&nbsp;
                </div>
              </div>
            </div>
          </li>

          <li class="item jf-item-small">
            <img src="/img/yiliya2.jpg" width="20%" height="auto">

            <div class="jf-item-small-content">
              <div  class="jf-item-subdiv">
                <h3>奥迪A8&nbsp;&nbsp;2013款 A8L 50 TFSI quattro尊贵型</h3>
              </div>

              <div class="jf-item-subdiv">
                <h2 class="jf-item-left jf-text-red">
                  123万&nbsp;&nbsp;&nbsp;&nbsp;
                </h2>

                <div style="padding-top: 5px;">
                  <h4 class="jf-text-grey">2013-04-08 11公里</h4>
                </div>
              </div>

              <div class="jf-item-subdiv">
                <div class="jf-item-left">
                  <button class="button jf-img-small button-outline button-positive">超值</button>&nbsp;
                  <button class="button jf-img-small button-outline button-energized">车主急售</button>&nbsp;
                  <button class="button jf-img-small button-outline button-balanced">准新车</button>&nbsp;
                </div>
              </div>
            </div>
          </li>

          <li class="item jf-item-small">
            <img src="/img/yiliya2.jpg" width="20%" height="auto">

            <div class="jf-item-small-content">
              <div  class="jf-item-subdiv">
                <h3>奥迪A8&nbsp;&nbsp;2013款 A8L 50 TFSI quattro尊贵型</h3>
              </div>

              <div class="jf-item-subdiv">
                <h2 class="jf-item-left jf-text-red">
                  123万&nbsp;&nbsp;&nbsp;&nbsp;
                </h2>

                <div style="padding-top: 5px;">
                  <h4 class="jf-text-grey">2013-04-08 11公里</h4>
                </div>
              </div>

              <div class="jf-item-subdiv">
                <div class="jf-item-left">
                  <button class="button jf-img-small button-outline button-positive">超值</button>&nbsp;
                  <button class="button jf-img-small button-outline button-energized">车主急售</button>&nbsp;
                  <button class="button jf-img-small button-outline button-balanced">准新车</button>&nbsp;
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>

      <div class="row jf-user-devide"></div>

      <div class="row jf-bg-light" style="border-top:1px solid #CCCCCC;">
        <div class="col jf-text-center" style="height:30px;padding-top: 5px;">
          <i class="icon ion-ios-compose-outline"></i>用户反馈
        </div>
      </div>
    </div>


  </ion-content>
</ion-view>
